<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,79},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,160},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,162},{65,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,79},{61,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{61,79}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey.png</string>
            <key>size</key>
            <string>{219,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afeba1619a2306ef81fd525a7692115c:e565e7dd1eb9b224794e97290cff6339:981299b9bed78a124f7eed7a66b6f893$</string>
            <key>textureFileName</key>
            <string>monkey.png</string>
        </dict>
    </dict>
</plist>
