<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{107,124}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{107,124}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>2.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{108,138}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,138}}</string>
                <key>sourceSize</key>
                <string>{116,148}</string>
            </dict>
            <key>3.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,134}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{118,134}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>4.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{101,99}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{101,99}}</string>
                <key>sourceSize</key>
                <string>{117,137}</string>
            </dict>
            <key>5.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{99,125}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{99,125}}</string>
                <key>sourceSize</key>
                <string>{107,133}</string>
            </dict>
            <key>6.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{104,106}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,138}</string>
            </dict>
            <key>7.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{112,131}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>8.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{111,99}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{111,99}}</string>
                <key>sourceSize</key>
                <string>{115,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>man.png</string>
            <key>size</key>
            <string>{122,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88925851684b0ec2d5b26309289a0873:d4fc4dce09d0f98559ddc4e64177e396:787ef77e3967c637acad597779256532$</string>
            <key>textureFileName</key>
            <string>man.png</string>
        </dict>
    </dict>
</plist>
