<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{120,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,232},{120,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{120,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,132},{126,98}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{126,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cherry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mango.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{124,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{118,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{118,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{256,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:953251c7e14cef4e914ee22eaef9b70d:d03854d815d74317f81ae9a73a572c28:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
